.App {
  text-align: center;
}

.headercontainer{
  width: 100%;
  background-color: aquamarine;
  padding: 1em;
}

.headercontainer h1{
  margin: 0;
}

.navbarcontainer{
  width: 100%;
  background-color: red;
  padding: 1em;
}

.navbarcontainer h1{
  margin: 0;
}
