.App {
  text-align: center;
}

.headercontainer{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headercontainer h1{
  margin: 0;
  padding: 0.5em;
}

.navbarcontainer{
  width: 100%;
  background-color: red;
}

.navbarcontainer h1{
  margin: 0;
  padding: 0.1em;
}

.logocomponent{
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
}

.logocomponent h4{
  display: inline;
}

#supportbtn{
  display: flex;
  right: 0;
  margin-left: auto;
}

.userheaderimg{
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  margin-left: 0;
}

#darklightbtn{
  display: flex;
  right: 0;
  margin-left: 0;
}
