.App {
  text-align: center;
}

.headercontainer{
  width: 100%;
  background-color: aquamarine;
}

.headercontainer h1{
  margin: 0;
  padding: 0.5em;
}

.navbarcontainer{
  width: 100%;
  background-color: red;
}

.navbarcontainer h1{
  margin: 0;
  padding: 0.1em;
}
